<div
  class="intro red lighten-2 z-depth-1 my-logo-text" [ngStyle]="this.getBackgroundImage()">
  <h1 class="grey-text text-lighten-5">DIARIOCAL</h1>
  <h4 class="grey-text text-lighten-5">Controlando suas calorias diárias!</h4>
  
</div>

<div class="container about">

  <div id="painel-servicos" [hidden]="this.isHidePannel">
    <h5>Serviços</h5>
    <hr />
    <div class="row">
      <div class="col s12 m6" >
        <a href="#">
          <div class="card-panel red lighten-1 center my-card-button">
            <span class="white-text flow-text"> CATEGORIA </span>
          </div>
        </a>
      </div>
      <div class="col s12 m6">
        <a href="#">
          <div class="card-panel red lighten-1 center my-card-button">
            <span class="white-text flow-text"> ALIMENTO </span>
          </div>
        </a>
      </div>
      <div class="col s12 m6">
        <a href="#">
          <div class="card-panel red lighten-1 center my-card-button">
            <span class="white-text flow-text"> DIÁRIO </span>
          </div>
        </a>
      </div>
      <div class="col s12 m6">
        <a href="#">
          <div class="card-panel red lighten-1 center my-card-button">
            <span class="white-text flow-text"> CONSULTAR DIÁRIO </span>
          </div>
        </a>
      </div>
    </div>
    
  </div>
  
</div>